* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    height: 100vh;

    margin: 0;

    font-family: var(--font-family, CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

button #sidebar {
    background-color: transparent;
    border: none;
    
}

#home-icon, #search-icon-sidebar {
    /* filter: invert(0.9); */
    border: none;

    width: 1.8rem;
}

input {
    border-radius: 1rem;
}

.sidebar{
    border-color: transparent;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.upper-sidebar {
    background-color: #121212;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 1.5rem 1rem rem 1rem; */

    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    gap: 1rem;

    border-radius: 1rem;;
}

.bottom-sidebar {
    background-color: #121212;
    height: 100%;

    align-items: center;
    /* margin: 1.5rem 1rem rem 1rem; */

    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    gap: 1rem;

    border-radius: 1rem;
}

.bottom-sidebar p {
    /* top | right | bottom | left */
    margin: 1rem 0 1rem 0 ;

}


.searchbar {
    border: 2px solid rgb(140, 15, 151);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search {
    border: 2px solid rgb(216, 198, 40); /* Substitua "green" pela cor desejada */
}

#profile {
    border: 2px solid rgb(216, 198, 40); /* Substitua "orange" pela cor desejada */
}

main {
    border: 2px solid rgb(52, 153, 21);
    
}

footer {
    border: 2px solid rgb(235, 9, 47); /* Substitua "pink" pela cor desejada */
    height: 100%;
}

.left{
    border: 2px solid rgb(9, 235, 197);
    width: 6%;
    margin: 0;
    padding: 0;
}

.right{
    border: 2px solid rgb(201, 97, 12);
    width: 92%;
    margin: 0;
    padding: 0;

    background-color: #121212;
    border-radius: 0.2rem;

    
}
.up{
    height: 90%;
}

.down{
    /*! position: fixed; */
    bottom: 0;
    width: 100%;
    height:10%;
}

main{
  
    height: 90%;
}


.bottom-footer {
    display: flex;
    font-size: xx-small;
    justify-content: space-between;
    /* gap: 50px; */
}

.footer-left {
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
}

a:hover {
    color: #FFFFFF;
}

